@charset "UTF-8";
/*! modern-normalize v0.6.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
Add the correct height in Firefox.
*/
hr {
  height: 0;
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Correct the padding in Firefox.
*/
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

.page-header .list, .page-footer .list, .advantage .list, .doing .list, .team .list, .customer .list, .projects .list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.page-header .link, .main-header .logo-head, .page-footer .link, .doing .link, .team .link, .projects-item .link {
  text-decoration: none;
  cursor: pointer;
}

.page-header.container, .page-footer .container, .advantage .container, .doing .container, .team .container, .customer .container, .projects .container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.page-header {
  position: relative;
  background-color: #ffffff;
}

@media screen and (min-width: 768px) {
  .page-header.container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .page-header.container {
    width: 1200px;
  }
}

.main-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 767px) {
  .main-header {
    margin-left: auto;
    margin-right: auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 480px;
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

@media screen and (min-width: 768px) {
  .main-header {
    margin: 0;
    padding: 0;
  }
}

.main-header .logo-head {
  font-family: "Raleway", sans-serif;
  text-decoration: none;
}

@media screen and (max-width: 767px) {
  .main-header .logo-head {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.03em;
  }
}

@media screen and (min-width: 768px) {
  .main-header .logo-head {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
  }
}

.logo-web {
  color: #2196f3;
}

.logo-nav {
  color: #000000;
}

@media screen and (max-width: 767px) {
  .menu-button {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
  }
  .menu-button:hover,
  .menu-button:focus .icon-menu {
    fill: #2196f3;
    cursor: pointer;
  }
  .menu-button:hover,
  .menu-button:focus .icon-cross {
    fill: #2196f3;
    cursor: pointer;
  }
  .menu-button .icon-cross {
    display: none;
  }
  .menu-button.is-open .icon-cross {
    display: block;
  }
  .menu-button.is-open .icon-menu {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .menu-container {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 393px;
    padding-top: 20px;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.16), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 4px 8px rgba(0, 0, 0, 0.04);
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.16), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 4px 8px rgba(0, 0, 0, 0.04);
    text-align: center;
    z-index: 1;
  }
  .menu-container.is-open {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .menu-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    margin-left: 81px;
  }
}

@media screen and (max-width: 767px) {
  .main-nav {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .main-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .site-nav .item:not(:last-child) {
    margin-right: 50px;
  }
}

.site-nav .link.current {
  color: #2196f3;
}

.site-nav .link.current::after {
  opacity: 1;
}

.site-nav .link {
  position: relative;
  color: #212121;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .site-nav .link {
    display: inline-block;
    padding-top: 40px;
    padding-bottom: 12px;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.02em;
  }
}

@media screen and (min-width: 768px) {
  .site-nav .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1;
    letter-spacing: 0.02em;
  }
}

@media screen and (min-width: 1200px) {
  .site-nav .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1;
    letter-spacing: 0.02em;
  }
}

.site-nav .link::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 4px;
  opacity: 0;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link:hover {
  color: #2196f3;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link:focus {
  color: #2196f3;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .cont-nav {
    margin-left: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .cont-nav > .item.phone {
    margin-left: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .cont-nav .item.mail {
    margin-bottom: 10px;
  }
}

.cont-nav .link {
  color: #757575;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .cont-nav .link {
    display: inline-block;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.02em;
  }
}

@media screen and (min-width: 768px) {
  .cont-nav .link {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.02em;
  }
}

@media screen and (min-width: 1200px) {
  .cont-nav .link {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
}

.cont-nav .link:hover, .cont-nav .link:focus {
  color: #2196f3;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .cont-nav .mail.link {
    margin-bottom: 12px;
  }
}

.cont-nav .mail-icon {
  width: 16px;
  height: 11px;
  margin-right: 10px;
  fill: currentColor;
  cursor: pointer;
}

.cont-nav .phone-icon {
  width: 10px;
  height: 15px;
  margin-right: 10px;
  fill: currentColor;
  cursor: pointer;
}

.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
  color: #ffffff;
}

@media screen and (max-width: 1199px) {
  .page-footer {
    text-align: center;
  }
}

@media screen and (max-width: 1199px) {
  .page-footer .foot-child,
  .page-footer .foot-link {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 480px) {
  .page-footer .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .page-footer .container {
    width: 768px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media screen and (min-width: 1200px) {
  .page-footer .container {
    width: 1200px;
  }
}

.page-footer .link {
  color: rgba(255, 255, 255, 0.6);
}

.page-footer b {
  display: inline-block;
  margin-bottom: 21px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 768px) {
  .page-footer .container.info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .page-footer .container.info {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.page-footer .address {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.page-footer .logo-foot {
  color: #ffffff;
}

.page-footer .logo-foot.link {
  display: inline-block;
  margin-bottom: 10px;
  font-family: "Raleway", sans-serif;
}

@media screen and (max-width: 1199px) {
  .page-footer .logo-foot {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.03em;
  }
}

@media screen and (min-width: 1200px) {
  .page-footer .logo-foot {
    font-weight: 700;
    font-size: 22px;
    line-height: 1.18;
    letter-spacing: 0.03em;
  }
}

.address.company {
  margin-bottom: 9px;
  font-family: inherit;
  font-style: normal;
}

.address .link {
  font-family: inherit;
  font-style: normal;
}

@media screen and (min-width: 1200px) {
  .address .link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
}

.address .link.mail {
  display: inline-block;
  margin-bottom: 9px;
}

.address .link:hover, .address .link:focus {
  color: #2196f3;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-footer .input {
  padding: 12px 18px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
  background-color: #2f303a;
  outline: none;
}

@media screen and (max-width: 767px) {
  .page-footer .input {
    width: 100%;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .page-footer .input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 450px;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .page-footer .input {
    width: 358px;
    margin-bottom: 0;
    margin-right: 12px;
  }
}

.social .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  color: #afb1b8;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social .link:hover, .social .link:focus {
  color: #ffffff;
  background-color: #2196f3;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transform: scale3d(1.1, 1.1, 1.1);
          transform: scale3d(1.1, 1.1, 1.1);
}

.social-icon {
  fill: currentColor;
}

.foot-link .social .item {
  margin-right: 10px;
}

.foot-link .social .item:nth-child(4n) {
  margin-right: 0;
}

.foot-link .link {
  color: #ffffff;
}

.foot-link .link:hover, .foot-link .link:focus {
  color: #ffffff;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button.primary {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  min-width: 200px;
  min-height: 50px;
  border-radius: 4px;
  padding: 10px 32px;
  cursor: pointer;
  color: #ffffff;
  background-color: #2196f3;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border-color: transparent;
}

.button.primary::after {
  content: "";
  width: 24px;
  height: 24px;
  margin-left: 10px;
  background-image: url("../img/icon/icon-send.svg");
  background-size: contain;
}

.backdrop {
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 1199px) {
  .backdrop {
    padding: 95px 16px;
    overflow-y: scroll;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Модальное окно - фон формы */
.modal {
  position: absolute;
  top: 80%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  background-color: #ffffff;
}

@media screen and (max-width: 480px) {
  .modal {
    width: 450px;
    min-height: 609px;
  }
}

@media screen and (min-width: 481px) {
  .modal {
    width: 450px;
    min-height: 609px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    min-height: 581px;
  }
}

/* Модальное окно - кнопка закрыть форму */
.modal .icon-button {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  cursor: pointer;
}

.icon-button:hover .icon-button-close {
  fill: #2196f3;
}

.icon-button-close {
  fill: black;
}

/* Модальное окно - форма */
.form {
  padding: 40px;
}

@media screen and (max-width: 1199px) {
  .form {
    width: 450px;
    height: 609px;
  }
}

@media screen and (min-width: 1200px) {
  .form {
    width: 528px;
    height: 581px;
  }
}

.form-about {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.form-field {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 28px;
}

.form-input {
  width: 100%;
  height: 40px;
  padding: 12px 8px 12px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
}

.form-text {
  position: absolute;
  top: 25%;
  left: 42px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.icon-form {
  position: absolute;
  top: 85%;
  left: 16px;
  -webkit-transform: translateY(-125%);
          transform: translateY(-125%);
  display: inline-block;
  color: black;
}

.form-input:focus + .form-text {
  color: #2196f3;
  -webkit-transform: translate(-90%, -150%);
          transform: translate(-90%, -150%);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus + .form-text.tel {
  -webkit-transform: translate(-50%, -150%);
          transform: translate(-50%, -150%);
}

.form-input:focus + .form-text.mail {
  -webkit-transform: translate(-60%, -150%);
          transform: translate(-60%, -150%);
}

.form-input:not(:placeholder-shown) + .form-text {
  -webkit-transform: translate(-90%, -150%);
          transform: translate(-90%, -150%);
}

.form-input:not(:placeholder-shown) + .form-text.tel {
  -webkit-transform: translate(-50%, -150%);
          transform: translate(-50%, -150%);
}

.form-input:not(:placeholder-shown) + .form-text.mail {
  -webkit-transform: translate(-60%, -150%);
          transform: translate(-60%, -150%);
}

.form-input:focus-within ~ .icon-form {
  fill: #2196f3;
}

.form-input:focus {
  border-color: #2196f3;
  outline: none;
}

.form-field.comments {
  margin-bottom: 20px;
}

.form-input.comments {
  height: 120px;
  padding-left: 16px;
  resize: none;
}

.form-text.comments {
  top: 12px;
  left: 16px;
}

.form-input:focus + .form-text.comments {
  -webkit-transform: translateY(-150%);
          transform: translateY(-150%);
}

.form-input:not(:placeholder-shown) + .form-text.comments {
  -webkit-transform: translateY(-150%);
          transform: translateY(-150%);
}

.consent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  cursor: pointer;
}

/* Прячем чекбокс от браузера */
.check-input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Оформляем чекбокс */
.checkbox {
  width: 15px;
  height: 16px;
  margin: 0;
  margin-right: 5px;
  background-image: url("../img/icon/nocheck.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.check-input:checked + .checkbox,
.check-input:checked:focus + .checkbox {
  background-image: url("../img/icon/check.svg");
  background-size: contain;
  background-color: #2196f3;
  border-radius: 4px;
}

.text.consent {
  margin: 0;
  padding: 0;
  left: 36px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

@media screen and (max-width: 1199px) {
  .text.consent {
    font-size: 12px;
  }
}

.text-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: #2196f3;
}

@media screen and (max-width: 1199px) {
  .text-link {
    font-size: 12px;
  }
}

.button-submit {
  display: block;
  margin-right: auto;
  margin-left: auto;
  min-width: 200px;
  min-height: 50px;
  border-radius: 4px;
  padding: 10px 32px;
  text-decoration: none;
  border-color: transparent;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: #2196f3;
  color: #ffffff;
  cursor: pointer;
}

.section.hero {
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .section.hero {
    max-width: 480px;
    height: 400px;
  }
}

@media screen and (min-width: 768px) {
  .section.hero {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .section.hero {
    max-width: 1600px;
    height: 600px;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.overley {
  padding-left: 15px;
  padding-right: 15px;
  background-color: #757575;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../img/hero/hero-mob.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/hero/hero-mob.jpg");
}

@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 2dppx) {
  .overley {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../img/hero/hero-mob@2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/hero/hero-mob@2x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .overley {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../img/hero/hero-tablet.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/hero/hero-tablet.jpg");
  }
}

@media screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .overley {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../img/hero/hero-tablet@2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/hero/hero-tablet@2x.jpg");
  }
}

@media screen and (min-width: 960px) {
  .overley {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../img/hero/hero-desctop.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/hero/hero-desctop.jpg");
  }
}

@media screen and (min-width: 960px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 960px) and (min-resolution: 2dppx) {
  .overley {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../img/hero/hero-desctop@2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/hero/hero-desctop@2x.jpg");
  }
}

.hero {
  text-align: center;
}

.hero .hero-title {
  margin-top: 0;
  margin-bottom: 46px;
  padding-top: 200px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
}

@media screen and (max-width: 1199px) {
  .hero .hero-title {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.61;
    letter-spacing: 0.06em;
    padding-top: 118px;
  }
}

.hero .button {
  min-width: 200px;
  padding: 10px 32px;
  text-align: center;
  margin-bottom: 118px;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  border-radius: 4px;
  border-color: transparent;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .section.advantage {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .section.advantage {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

@media screen and (min-width: 480px) {
  .advantage .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .advantage .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .advantage .container {
    width: 1200px;
  }
}

@media screen and (min-width: 768px) {
  .advantage .list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (min-width: 1200px) {
  .advantage .list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  .advantage .item {
    width: 100%;
    margin-bottom: 30px;
  }
  .advantage .item:last-child {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .advantage .item {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .advantage .item {
    width: calc((100% - 8 * 15px) / 4);
  }
}

.advantage .background-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
  background-color: #f5f4fa;
}

@media screen and (max-width: 767px) {
  .advantage .background-icon {
    width: 100%;
    height: 120px;
  }
}

@media screen and (min-width: 768px) {
  .advantage .background-icon {
    width: 354px;
    height: 120px;
  }
}

@media screen and (min-width: 1200px) {
  .advantage .background-icon {
    width: 270px;
    height: 120px;
  }
}

.antenna-icon {
  width: 65px;
  height: 70px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section h2 {
  margin-top: 0;
  margin-bottom: 50px;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #212121;
}

.advantage-title {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}

@media screen and (max-width: 767px) {
  .advantage-title {
    text-align: center;
  }
}

.advantage .text {
  margin-top: 0;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

@media screen and (max-width: 767px) {
  .advantage .text:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .advantage .text {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 1199px) {
  .section.doing {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .section.doing {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.doing .container {
  width: 1200px;
}

.doing .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: -15px;
}

.doing .item {
  position: relative;
  margin: 15px;
  width: calc((100% - 6 * 15px) / 3);
  text-align: center;
}

.doing .itemitem:nth-child(3n) {
  margin-right: 0;
  margin-bottom: 0;
}

.doing img {
  display: block;
}

.doing .doing-text {
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;
  margin: 0;
  padding: 27px;
  background: rgba(47, 48, 58, 0.4);
  border-radius: 0px 0px 4px 4px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.section.team {
  background-color: #f5f4fa;
}

@media screen and (max-width: 1199px) {
  .section.team {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .section.team {
    padding-top: 94px;
  }
}

@media screen and (min-width: 480px) {
  .team .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .team .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .team .container {
    width: 1200px;
  }
}

.team .link {
  color: #afb1b8;
}

@media screen and (min-width: 768px) {
  .team .list.cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (min-width: 1200px) {
  .team .list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.team .img-team {
  display: block;
  max-width: 100%;
  height: auto;
  margin-bottom: 30px;
}

.team .item.cards {
  padding-bottom: 24px;
  background-color: #ffffff;
  border-radius: 4px;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
}

@media screen and (max-width: 767px) {
  .team .item.cards:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team .item.cards {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .team .item.cards {
    width: calc((100% - 8 * 15px) / 4);
    margin: 15px;
  }
}

.team .team-title {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #212121;
  text-align: center;
}

.team .team-position {
  margin: 0;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  color: #757575;
}

.team .list.icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.team .item.social {
  margin-right: 10px;
}

.team .item.social:nth-child(4n) {
  margin-right: 0;
}

.team .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.team .social-icon {
  fill: currentColor;
}

@media screen and (max-width: 1199px) {
  .section.customer {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .section.customer {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (min-width: 480px) {
  .customer .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .customer .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .customer .container {
    width: 1200px;
  }
}

.customer .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 767px) {
  .customer .list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (min-width: 768px) {
  .customer .list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (min-width: 1200px) {
  .customer .list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.customer .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #afb1b8;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  text-decoration: none;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .customer .link {
    margin: auto;
    max-width: 210px;
    height: 90px;
  }
}

@media screen and (min-width: 768px) {
  .customer .link {
    max-width: 226px;
    height: 90px;
  }
}

@media screen and (min-width: 1200px) {
  .customer .link {
    max-width: 170px;
  }
}

.customer .link:hover, .customer .link:focus {
  color: #2196f3;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customer .item {
  border: 1px solid #afb1b8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .customer .item {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 768px) {
  .customer .item {
    width: calc((100% - 6 * 15px) / 3);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .customer .item {
    width: calc((100% - 12 * 15px) / 6);
  }
}

.customer .item:hover, .customer .item:focus {
  border: 1px solid #2196f3;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customer .customer-icon {
  fill: currentColor;
  cursor: pointer;
}

.projects {
  border-top: 1px solid #ececec;
}

@media screen and (max-width: 767px) {
  .projects {
    position: relative;
  }
}

@media screen and (min-width: 480px) {
  .projects .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .projects .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .projects .container {
    width: 1200px;
  }
}

@media screen and (max-width: 767px) {
  .projects .list.container-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-top: 60px;
    margin-bottom: 40px;
    text-align: center;
  }
  .projects .list.container-btn li {
    margin-right: 8px;
  }
  .projects .list.container-btn li:nth-child(-n + 3) {
    margin-bottom: 15px;
  }
  .projects .list.container-btn li:nth-last-child(3) {
    margin-right: 0;
  }
  .projects .list.container-btn li:nth-child(5n) {
    margin-right: 0;
  }
}

@media screen and (min-width: 768px) {
  .projects .list.container-btn {
    padding-top: 60px;
    margin-bottom: 40px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .projects .list.container-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) {
  .projects .list.container-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 94px;
    margin-bottom: 50px;
    text-align: center;
  }
  .projects .list.container-btn li {
    margin-right: 8px;
  }
  .projects .list.container-btn li:nth-child(5n) {
    margin-right: 0;
  }
}

@media screen and (min-width: 768px) {
  .list.cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .list.cards {
    padding-bottom: 94px;
  }
}

.button {
  padding: 6px 22px;
  font-family: inherit;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  border: transparent;
  border-radius: 4px;
  color: #212121;
  background: #f5f4fa;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover, .button:focus {
  color: #ffffff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);
}

.projects-item {
  border: 1px solid #eeeeee;
  border-radius: 5px;
}

@media screen and (max-width: 767px) {
  .projects-item:nth-child(-n + 8) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .projects-item {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .projects-item {
    width: calc((100% - 6 * 15px) / 3);
    margin: 15px;
  }
}

.projects-item:hover .text-projects {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.projects-item .box {
  position: relative;
}

.projects-item .link {
  color: #757575;
  display: block;
}

.projects-item .link:focus .text-projects {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.img-portfolio {
  border-radius: 5px 5px 0px 0px;
  width: 100%;
  height: auto;
}

@media screen and (min-width: 1200px) {
  .img-portfolio {
    width: 370px;
    height: 294px;
  }
}

.title-primary {
  margin-top: 0;
  margin-bottom: 0;
  color: white;
}

.title-projects {
  margin-top: 0;
  margin-bottom: 4px;
  padding-left: 24px;
  padding-top: 20px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.text {
  margin-top: 0;
  margin-bottom: 0px;
  padding-bottom: 20px;
  padding-left: 24px;
  color: #757575;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

.text-projects {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 1;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .text-projects {
    width: 450px;
    height: 294px;
    padding: 77px 24px;
  }
}

@media screen and (min-width: 768px) {
  .text-projects {
    padding: 49px 24px;
    width: 354px;
    height: 294px;
  }
}

@media screen and (min-width: 1200px) {
  .text-projects {
    padding: 63px 24px;
    width: 370px;
    height: 294px;
  }
}

.cards .link:hover,
.cards .link:focus {
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
          box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.box {
  overflow: hidden;
}
/*# sourceMappingURL=main.css.map */