.section.customer {
  @media screen and (max-width: 1199px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.customer {
  .container {
    @extend %container;
    @media screen and (min-width: 480px) {
      width: 480px;
    }
    @media screen and (min-width: 768px) {
      width: 768px;
    }
    @media screen and (min-width: 1200px) {
      width: 1200px;
    }
  }
  .list {
    @extend %list;
    display: flex;

    @media screen and (max-width: 767px) {
      flex-wrap: wrap;
      margin: -15px;
    }

    @media screen and (min-width: 768px) {
      flex-wrap: wrap;
      margin: -15px;
    }

    @media screen and (min-width: 1200px) {
      flex-wrap: nowrap;
    }
  }
  .link {
    @include flex-mix(flex, center, center);
    color: $color-social-links;
    @include tranzition(color);
    text-decoration: none;
    cursor: pointer;

    @media screen and (max-width: 767px) {
      margin: auto;
      max-width: 210px;
      height: 90px;
    }

    @media screen and (min-width: 768px) {
      max-width: 226px;
      height: 90px;
    }

    @media screen and (min-width: 1200px) {
      max-width: 170px;
    }

    &:hover,
    &:focus {
      color: $accent-text-color;
      @include tranzition(color);
    }
  }

  .item {
    @media screen and (max-width: 767px) {
      width: calc((100% - 4 * 15px) / 2);
      margin: 15px;
    }

    @media screen and (min-width: 768px) {
      width: calc((100% - 6 * 15px) / 3);
      margin: 15px;
    }

    @media screen and (min-width: 1200px) {
      width: calc((100% - 12 * 15px) / 6);
    }

    border: 1px solid #afb1b8;
    box-sizing: border-box;
    border-radius: 4px;
    @include tranzition(border);

    &:hover,
    &:focus {
      border: 1px solid $accent-text-color;
      @include tranzition(border);
    }
  }

  .customer-icon {
    fill: currentColor;
    cursor: pointer;
  }
}
